<mat-icon routerLink="..">keyboard_backspace</mat-icon>
<h2>Course details</h2>
<div class="detail">
    <span>Name:</span> 
    <span>{{course?.name}}</span>
</div>
<div class="detail">
    <span>Description:</span> 
    <span>{{course?.description}}</span>
</div>
<div class="detail">
    <span>Teacher name:</span> 
    <span>{{course?.teacher.name}}</span>
</div>
<div class="detail">
    <span>Teacher email:</span> 
    <span>{{course?.teacher.email}}</span>
</div>
<div class="detail">
    <span>Teacher address:</span> 
    <span>{{course?.teacher.address}}</span>
</div>