<h2>Courses</h2>
<button (click)="goToAdd()">Add course</button>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Teacher name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses; let i = index">
            <td><a (click)="goToDetails(course.id)">{{i+1}}</a></td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.teacherName}}</td>
        </tr>
    </tbody>
</table>
